<!DOCTYPE html>
<html>
  <head>
    <title>Amazing Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Amazing Bookstore</h1>
    <%= yield %>

    <footer>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li>Privacy policy</li>
        <li>Contact</li>
      </u;>
    </footer>
  </body>
</html>
